@import "sass-material-design-colors/palette.scss";

.main {
    position: absolute;
    bottom: 14px;
    background-color: var(--secondary-app-color);
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;

    div {
        padding: 5px;
        margin: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $indigo-400;
        border-radius: 5px;
        min-width: 70px;
        transition: all 0.3s ease-in-out;

        span {
            transition: all 0.3s ease-in-out;
            padding: 2px;
        }
    }

    div:hover {
        cursor: pointer;
        border-radius: 10px;
        background-color: $indigo-900;

        span {
            color: #fff; //for light theme
        }
    }
}

.infoPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    height: 14px;
    font-size: 12px;
    width: 100%;
}
