.main {
    background-color: var(--secondary-app-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    svg {
        margin: 0px 5px;
        padding: 5px;
    }
}
