.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--secondary-app-color);
    border-image: linear-gradient(90deg, #a31414, #3312c5) 1 / 3 / 2;
    border-top: 0px solid #000;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
