@import "sass-material-design-colors/palette.scss";

:root {
    --dark-mode: 0;
    --main-app-color: #eeeeee; //equivalent of grey-200
    --secondary-app-color: #bdbdbd; //equivalent of grey-400
    --main-text-color: #000000; //equivalent of grey-1000
    --inverse-text-color: #fafafa; //equivalent of grey-1000
    --main-contrast-color: #424242; //equivalent of grey-800
    --hover-color: #00838f; //equivalent of cyan-800
    --link-color: #283593; //equivalent of indigo-800
    --main-theme-color: #3326a7;
    --semitransparent-background-color: #00000060;
}

[data-theme="dark"] {
    --dark-mode: 1;
    --main-app-color: #212121; // equivalent of grey-900
    --secondary-app-color: #616161; //equivalent of grey-700
    --main-text-color: #fafafa; //equivalent of grey-50
    --inverse-text-color: #000000; //equivalent of grey-1000
    --main-contrast-color: #bdbdbd; //equivalent of grey-400
    --hover-color: #80deea; //equivalent of cyan-200
    --link-color: #c5cae9; //equivalent of indigo-100
    --main-theme-color: #3326a7;
    --semitransparent-background-color: #00000060;
}

* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-text-color);
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--main-app-color);
    font-family: Roboto, Arial, sans-serif;
    transition: background-color 0.5s ease-in-out;
    scroll-behavior: smooth;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--hover-color);
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#221955, #4635a5);
    border-radius: 5px;
    box-shadow: inset 1px 1px 5px rgba(2, 0, 104, 0.5);
}

svg {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

// applies to majority of icons because MUI does not seem to take into account the app theme, thus making white icons on white background
.themeDependentIcon {
    * {
        color: var(--main-text-color) !important;
    }
}

svg:hover {
    filter: brightness(0.7);
}

button {
    cursor: pointer;
}

.centerAlign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.err404 {
    width: 50vw;
    margin: auto;
    height: 100vh;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .err404 {
        width: 90vw;
    }
}

@media (prefers-reduced-motion) {
    svg {
        transition: none;
    }
}
