@import "sass-material-design-colors/palette.scss";

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-app-color);
    border-image: linear-gradient(90deg, #a31414, #3312c5) 1 / 3 / 2;
    border-top: 0px solid #000;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 48px;
}

.mainPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    div {
        width: 100%;
        margin: auto;
    }
}

.linkMain {
    width: 80%;
    max-width: 600px;
    height: 80px;
    border: 2px solid var(--main-contrast-color);
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.linkMain:hover {
    background-color: var(--link-color);
}

.recentProjects {
    margin-top: 80px;
    width: 90%;
    background-color: var(--secondary-app-color);
    border-radius: 10px;
    padding: 10px;
}

.recentProjectsGrid {
    display: flex;
    flex-wrap: wrap;

    .recentProjectElement {
        position: relative;
        width: 200px;
        height: 200px;
        border: 2px inset #bbdefb;
        border-radius: 5px;
        margin: 10px;
        background-color: var(--main-theme-color);
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .recentProjectElement:hover {
        background-color: $blue-500;
    }
}

.footer {
    display: flex;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-app-color);
}

.footer a {
    padding-top: 20px;
}

@media screen and (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }

    .title {
        font-size: 28px;
    }
}

@media (prefers-reduced-motion) {
    .linkMain {
        transition: none;
    }
}

