@import "sass-material-design-colors/palette.scss";

.main {
    max-width: 1200px;
    margin: auto;
    width: 95%;
    padding: 10px 20px;
    font-size: 20px;
    min-height: 100vh;
    margin-bottom: 50px;

    select {
        border-radius: 10px;
        min-width: 120px;
        padding: 3px 5px;
    }

    div {
        display: block;
    }
}

.displayBlockLabels {
    label {
        display: block;
    }
}

.saveButton {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-app-color);

    button {
        color: #fff;
        margin: 10px 20px;
        cursor: pointer;
        background-color: $blue-A400;
        transition: all 0.5s ease-in-out;
    }

    button:hover {
        background-color: $deep-purple-A200;
    }
}
